label {
	font-weight: lighter;
	margin-right: 0.4rem;
}

.formError {
	display: block;
	margin-top: 4px;
	font-size: 0.85em;
	color: #b94a48;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
