.nav {
	display: flex;
	background-color: #666666;
	color: white;
	padding: 0.5rem 1rem;
	text-align: left;
	align-items: center;
	justify-content: space-between;
}


.nav-text {
	display: none;
	text-decoration: none;
	margin: 0;
}

.nav-text,
.nav-text-small:hover {
	color: white;
	text-decoration: none;
}

.nav-text-small {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	align-items: center;
	margin: 0;
	padding: 0;
}

li {
	padding: 0 0.5rem;
}

button {
	border: 0;
}

@media (min-width: 650px) {
	.nav-text {
		display: block;
		font-weight: normal;
		font-size: 1.5rem;
		margin: 0;
	}

	.nav-text-small {
		display: none;
	}
}
