.nav {
	display: flex;
	background-color: #666666;
	color: white;
	padding: 1px;
    text-align: left;
    align-items: center;
}

.menuList {
	display: flex;
    justify-content: space-between;
    list-style-type: none;
}

li {
    padding: 0 .5rem;
}